<section class="job-skills">
  <div class="job-skills__title">
    <img src="assets/img/icon/tags.svg" alt="tags">
    Используемые теги для вакансии
  </div>
  <ng-container>
    <div class='job-skills__tag-wrapper' *ngFor="let job of jobSkills | objectValue">
      <ng-container *ngIf="job.key !== 'questions'">
        <div class='job-skills__tag-name'>
          {{"ANALYTICS.STATISTIC." + (job.key | uppercase) | translate }}
        </div>
        <div class='job-skills__tag' *ngIf="isArray(job.value);else element">
          <hr-tag *ngFor="let value of job.value" [isRemove]="false">
            {{value}}
          </hr-tag>
        </div>
        <ng-template #element>
          <div class='job-skills__tag'>
            <hr-tag [isRemove]="false">
              {{job.value}}
            </hr-tag>
          </div>
        </ng-template>
      </ng-container>

    </div>
  </ng-container>
</section>
