<div>
  <ng-container *ngIf="getIsChatOpen$ | async as isChatOpen">
      <div class="content" *ngIf="isChatOpen.isOpen">
        <hr-conversations [conversations]="conversations"></hr-conversations>
        <hr-messages [messages]="messages"
                     [selectedConversation]="selectedConversation$ | async"
                     [isLoading]="isMessagesLoading"
        ></hr-messages>
      </div>
  </ng-container>
  <div class="chat-icon" *ngIf="conversations?.length" (click)="toggleChatState()">
    <img src="./assets/img/icon/chat-icon.svg" alt="chat">
    <span class="red_circle" *ngIf="isUnreadConversations(conversations)"></span>
  </div>
</div>
