<section
  *ngIf="{
    specialist: specialist$ | async,
    company: company$ | async,
    conversationUuid: conversationUuid$ | async
  } as asyncData"
  class="wrapper"
>
  <div class="chat">
    <div class="chat-list">
      <div class="chat-list__top">
        <div class="chat-list__top-content">
          <ng-container *ngIf="(bottomChatSettings | async)?.isMessagesContent">
            <div class="chat-list__top-title">
              {{ asyncData?.specialist ? asyncData?.specialist?.name : "" }}
              {{ asyncData?.specialist ? asyncData?.specialist.surname : "" }}
            </div>
            <div class="chat-list__top-title chat-list__top-vacancy-name">
              {{ currentConversation?.other_info?.name }}
            </div>
          </ng-container>
        </div>
        <div class="chat-list__top-icons">
          <img class="chat-start-info-icon" src="./assets/img/icon/question.png" alt="?" (click)="openChatInfo()"/>
          <svg
            (click)="closeChat()"
            width="13"
            height="13"
            viewBox="0 0 13 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.6742 10.0836L7.59297 6.00234L11.6742 1.92109C12.1148 1.48047 12.1148 0.771094 11.6742 0.330469C11.2336 -0.110156 10.5242 -0.110156 10.0836 0.330469L6.00234 4.41172L1.92109 0.330469C1.48047 -0.110156 0.771094 -0.110156 0.330469 0.330469C-0.110156 0.771094 -0.110156 1.48047 0.330469 1.92109L4.41172 6.00234L0.330469 10.0836C-0.110156 10.5242 -0.110156 11.2336 0.330469 11.6742C0.771094 12.1148 1.48047 12.1148 1.92109 11.6742L6.00234 7.59297L10.0836 11.6742C10.5242 12.1148 11.2336 12.1148 11.6742 11.6742C12.1117 11.2336 12.1117 10.5211 11.6742 10.0836Z"
              fill="#08A652"
            />
          </svg>
        </div>
      </div>

      <ng-container *ngIf="(bottomChatSettings | async)?.isMessagesContent; else hiddenMessagesTmpl">
        <div #chat class="chat-list__body" (scroll)="scroll($event)">
          <div
            class="search-results"
            infiniteScroll
            [infiniteScrollUpDistance]="2"
            [infiniteScrollThrottle]="30"
            [infiniteScrollContainer]="'.chat-list__body'"
            (scrolledUp)="onScrollUp()"
            [scrollWindow]="false"
            [fromRoot]="true"
          >
            <ng-container *ngIf="(messages$ | async)?.length > 2 && !isMsgLoading$.value; else LoadDataTmpl">
              <div #infiniteScroll *ngFor="let message of messages$ | async">
                <div
                  class="chat-list__body-item chat-list__body-right list-item"
                  *ngIf="
                  message?.senderUuid &&
                  message?.senderUuid === asyncData?.company?.uuid &&
                  asyncData?.conversationUuid === message?.conversationUuid
                "
                >
                  <!--              <div class="chat-list__body-img">-->
                  <!--                <img-->
                  <!--                  [src]="(senderLogo() | async) ? (senderLogo() | async) : '../../../../assets/img/avatar/company.svg'"-->
                  <!--                  alt="company">-->
                  <!--              </div>-->
                  <div class="chat-list__body-message_content">
                    <p [innerText]="message?.message"></p>
                    <div class="chat-list__body-item-viewed">
                      <!--                <span>Просмотрено</span>-->
                      <span>{{ message?.createdAt | date: "dd/MM/yy hh:mm" }}</span>
                    </div>
                  </div>
                </div>
                <div
                  class="chat-list__body-item"
                  *ngIf="
                  message?.senderUuid &&
                  message?.senderUuid !== asyncData?.company?.uuid &&
                  asyncData?.conversationUuid === message?.conversationUuid
                "
                >
                  <div class="chat-list__body-img">
                    <img
                      [src]="message?.specialistImage ?? message.senderLogo ?? currentConversation?.specialist?.image"
                      alt="specialist"/>
                  </div>
                  <div class="chat-list__body-message_content">
                    <p [innerText]="message?.message"></p>
                    <div class="chat-list__body-item-viewed">
                      <!--                  <span>Просмотрено</span>-->
                      <span>{{ message?.createdAt | date: "dd/MM/yy hh:mm" }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-template #LoadDataTmpl>
              <ng-container *ngIf="isMsgLoading$.value; else NoDataTmpl">
                <div class="loader-container">
                  <div class="loader"></div>
                </div>
              </ng-container>
              <ng-template #NoDataTmpl>
                <div class="chat-list__body-message__no-data">
                  <img
                    [src]="currentConversation?.specialist?.image ?? '/assets/img/avatar/list-man-avatar.svg'"
                    alt="specialist"
                  />
                  <p> {{currentConversation?.specialist?.name}} {{currentConversation?.specialist?.surname}}</p>
                  <p> Вы еще не начали чат </p>
                </div>
              </ng-template>
            </ng-template>
          </div>
        </div>
        <div class="chat-list--isMsg">
          <p class="is-unread-msg"
             *ngIf="!currentConversation?.last_message?.messageStatus && !!currentConversation?.last_message?.senderUuid"
             (click)="chatOpen()">
            У вас есть непрочитанное сообщение ⮟
          </p>
        </div>
        <div class="chat-list__footer">
          <div class="chat-input" *ngIf="(messages$ | async)?.length || !isMsgLoading$.value">
            <button
              *ngIf="!isSpecialistRejected$.value"
              class="chat-input__button chat-input_refuse-button"
              [ngClass]="{ disabled: isSpecialistAccepted$.value }"
              (click)="refuseAction()"
            >
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.33573 8.06373L6.072 4.8L9.33573 1.53628C9.68809 1.18391 9.68809 0.616634 9.33573 0.264272C8.98337 -0.0880906 8.41609 -0.0880906 8.06373 0.264272L4.8 3.528L1.53628 0.264272C1.18391 -0.0880906 0.616634 -0.0880906 0.264272 0.264272C-0.0880906 0.616634 -0.0880906 1.18391 0.264272 1.53628L3.528 4.8L0.264272 8.06373C-0.0880906 8.41609 -0.0880906 8.98337 0.264272 9.33573C0.616634 9.68809 1.18391 9.68809 1.53628 9.33573L4.8 6.072L8.06373 9.33573C8.41609 9.68809 8.98337 9.68809 9.33573 9.33573C9.68559 8.98337 9.68559 8.41359 9.33573 8.06373Z"
                  fill="#6F7985"
                />
              </svg>
            </button>
            <button
              *ngIf="!isSpecialistRejected$.value"
              class="chat-input__button chat-input_agree-button"
              [ngClass]="{ disabled: isSpecialistAccepted$.value }"
              (click)="agreeAction()"
            >
              <svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.6294 1.33325L5.82614 10.6666L1.37012 6.42416"
                  stroke="#555B66"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
            <div class="chat-input__text" *ngIf="!isSpecialistRejected$.value">
              <textarea
                #textarea
                (input)="auto_grow()"
                (keydown)="onKeydown($event, asyncData?.company, asyncData?.specialist, asyncData?.conversationUuid)"
                [(ngModel)]="message"
                placeholder="Напишите что нибудь"
              ></textarea>
            </div>
            <!--            <label>-->
            <!--              <input type='text' class='chat-input__text'  [(ngModel)]="message"  placeholder='Напишите что нибудь'>-->
            <!--            </label>-->
            <button
              *ngIf="!isSpecialistRejected$.value"
              #button
              (click)="sendMessageAction(asyncData?.company, asyncData?.specialist, asyncData?.conversationUuid)"
              [ngClass]="{ disabled: !msgLength() }"
              class="chat-input__button chat-input_send-button"
            >
              <img src="assets/img/icon/send-msg.svg" alt="send-msg"/>
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #hiddenMessagesTmpl>
        <div class="robot_img--content">
          <img src="assets/img/icon/chat-robot.svg" alt="robot"/>
        </div>
      </ng-template>
    </div>
  </div>
</section>

<hr-popup
  *ngIf="!!openAcceptOrDeclinePopup$"
  [is-name]="popupName ?? ''"
  (whenAcceptOrDecline)="acceptOrDecline($event)"
  (whenPopupClose)="closePopup()"
>
</hr-popup>

<div *ngIf="openCandidates">
  <app-chat-open-modal
    [isHelper]="true"
    [isOpen]="openCandidates"
    [specialistName]="(specialist$ | async)?.name ?? ''"
    [specialistSurname]="(specialist$ | async)?.surname ?? ''"
    (closeModal)="closeChatInfo()"
  ></app-chat-open-modal>
</div>
