<hr-loader *ngIf="!!(loader$ | async)"></hr-loader>

<section class="register">
  <form class="register__form">
    <div class="register__wrapper">
      <div class="register__title">
        {{ "AUTHORIZATION.TITLE" | translate }}
      </div>
      <div class="register__description">
        {{ "AUTHORIZATION.SIGN_UP.SUBTITLE" | translate }}
      </div>
      <div class="register__phone-number">
        <hr-input
          [phone-input]="true"
          [input-type]="'tel'"
          [placeholder-text]="'+7  (_____)  _______ -- _______'"
          [label-text]="'AUTHORIZATION.PHONE' | translate"
          [formControl]="signUpPhoneControl"
          [valid]="signUpPhoneControl.touched ? signUpPhoneControl.valid : undefined"
        ></hr-input>
      </div>
      <div class="register__password">
        <hr-input
          [input-type]="inputTypeProps"
          [label-text]="'AUTHORIZATION.PASSWORD' | translate"
          [formControl]="signUpPasswordControl"
          [valid]="signUpPasswordControl.touched ? signUpPasswordControl.valid : undefined"
          [feedback-text]="
            signUpPasswordControl.touched && !!(alreadyBeenLoggedError | async)
              ? (alreadyBeenLoggedError | async)?.message!
              : signUpPasswordControl.touched
              ? validates
              : ''
          "
          [error-status]="
            signUpPasswordControl.touched && (!!(alreadyBeenLoggedError | async) || validates)
              ? inputStatusList.invalid
              : inputStatusList.valid
          "
          [showPassword]="true"
        ></hr-input>
      </div>
      <div class="register__privacy-policy">
        <hr-checkbox
          [checked]="signUpPrivacyPolicyControl.value"
          [formControl]="signUpPrivacyPolicyControl"
        ></hr-checkbox>
        <span class="register__privacy-policy__checkbox__label-text" (click)="changeSignUpPrivacyPolicy()">
          {{"AUTHORIZATION.SIGN_UP.AGREE" | translate}}
          <a
            (click)="changeSignUpPrivacyPolicy($event)"
            href="https://hrhunt.ru/user-agreement"
            style="color: green"
            target="_blank"
            >{{"AUTHORIZATION.SIGN_UP.AGREEMENT" | translate}}
          </a>
          {{"AUTHORIZATION.SIGN_UP.PERSONAL_DATA" | translate}}
        </span>
      </div>
      <div class="register__button">
        <hr-button
          [disabled]="isFormValid || !!(this.alreadyBeenLoggedError | async)"
          [text]="'ACTIONS.REGISTER' | translate"
          [type]="buttonType.outlineGreen"
          (click)="signUpCompleted()"
        ></hr-button>
      </div>
      <div class="register__login-wrapper">
        {{ "AUTHORIZATION.SIGN_UP.NOTE" | translate }}?
        <a [routerLink]="'/signIn'" class="register__login"> {{ "ACTIONS.SIGN_IN" | translate }}</a>
      </div>
    </div>
  </form>
</section>
