<ng-template #titleTpl>
  <h1>{{"CHAT_CONFIRMATION.TITLE" | translate}}</h1>
</ng-template>
<ng-template #contentTpl>
  <div class='modal_content'>
      <div class='modal_content'>
        <ng-container *ngIf="isFirstChat; else notFirstChatTextTmpl">
          <p> {{"CHAT_CONFIRMATION.TEXT_1" | translate}} </p>
        </ng-container>
        <ng-template #notFirstChatTextTmpl>
          <p> {{"CHAT_CONFIRMATION.TEXT_2" | translate}} </p>
        </ng-template>
      </div>
      <div class="modal_actions">
        <hr-button
          [text]='"CHAT_CONFIRMATION.NO" | translate'
          [type]="ButtonTypeEnum.outlineGreen"
          (clickEvent)="closeModal()"
        ></hr-button>

        <hr-button
          [text]='"CHAT_CONFIRMATION.YES" | translate'
          [type]="ButtonTypeEnum.outlineGreen"
          (clickEvent)="openChat()"
        ></hr-button>
      </div>
  </div>
</ng-template>

