<section class='progress-bar--horizontal'>
  <div class='progress-bar'>
    <div class='progress-bar-circle'
         [class.progress-bar-circle_green]="
         formGroup.controls['searchedSettings'].dirty
         || formGroup.controls['searchedSettings'].valid">1</div>
    <div class='progress-bar-line'>
      <div class='progress-bar-progress' [ngStyle]='{"width": progressStep1 + "%"}'></div>
    </div>
    <div
      class='progress-bar-circle'
      [class.progress-bar-circle_green]="formGroup.controls['searchedSettings'].valid">2
    </div>
    <div class='progress-bar-line'>
      <div class='progress-bar-progress' [ngStyle]='{"width": progressStep2 + "%"}'></div>
    </div>
    <div class='progress-bar-circle'
         [class.progress-bar-circle_green]="formGroup.valid">
      <svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path
          d='M5.99999 13.6133L1.85999 9.47333L3.74665 7.58666L5.99999 9.84666L12.5867 3.25333L14.4733 5.13999L5.99999 13.6133Z'
          fill='white' />
      </svg>
    </div>
  </div>
</section>

<section class='progress-bar--vertical'>
    <div class='progress-bar--vertical-items' *ngIf='!edit'>
      <div class='progress-bar-circle'
           [class.progress-bar-circle_green]="
           formGroup.controls['searchedSettings'].dirty
           || formGroup.controls['searchedSettings'].valid">1</div>
      <div class='progress-bar-line'>
        <div class='progress-bar-progress' [ngStyle]='{"width": progressStep1 + "%"}'></div>
      </div>
      <div
        class='progress-bar-circle'
        [class.progress-bar-circle_green]="formGroup.controls['searchedSettings'].valid">2
      </div>
    </div>
    <div class='progress-bar--vertical-items' *ngIf='edit'>
      <div
        class='progress-bar-circle'
        [class.progress-bar-circle_green]="formGroup.dirty">2
      </div>
      <div class='progress-bar-line'>
        <div class='progress-bar-progress' [ngStyle]='{"width": progressStep2 + "%"}'></div>
      </div>
      <div class='progress-bar-circle'
           [class.progress-bar-circle_green]="formGroup.valid">
        <svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path
            d='M5.99999 13.6133L1.85999 9.47333L3.74665 7.58666L5.99999 9.84666L12.5867 3.25333L14.4733 5.13999L5.99999 13.6133Z'
            fill='white' />
        </svg>
      </div>
    </div>
</section>

