<section class='analytics' *ngIf="analyticsData; else emptyContentTmpl">
  <hr-go-back></hr-go-back>
  <div class='analytics__title'>
    <div class="analytics__title-keeper">
      <div class='analytics__title-keeper-vacancy-info' *ngIf="analyticsData.selectedVacancy">
        <div class='analytics__title-keeper-vacancy-description'>
          <div class='analytics__title-keeper-vacancy-name'
               (click)="showVacancyInfo()">
            {{analyticsData.selectedVacancy.name}}
          </div>
          <div class='analytics__title-keeper-vacancy-date'>
            {{analyticsData.selectedVacancy.deadlineDate | date: 'mediumDate'}}
          </div>
        </div>
      </div>
      <div class='analytics__filter'>
        <div class="analytics__filter--vacancy" *ngIf="!uuid">
          <p class="title"> {{"ANALYTICS.ALL.FILTERS" | translate}} </p>
          <div class="fields">
            <div class="wrapper">
              <p class="subtitle"> {{"ANALYTICS.ALL.COMPLETED" | translate}} </p>
              <hr-vacancies-list
                [defaultValue]="getDefaultValue2()"
                [status]="VacancyStatusEnum.NotArchived"
                [isBorder]="true"
                [isAll]="true"
                (selectedVacancy)='getVacancyFromSelect($event, VacancyStatusEnum.NotArchived)'>
              </hr-vacancies-list>
            </div>
            <div class="wrapper">
              <p class="subtitle"> {{"ANALYTICS.ALL.ARCHIVED" | translate}} </p>
              <hr-vacancies-list
                [defaultValue]="getDefaultValue1()"
                [status]="VacancyStatusEnum.Archived"
                [isBorder]="true"
                [isAll]="true"
                (selectedVacancy)='getVacancyFromSelect($event, VacancyStatusEnum.Archived)'>
              </hr-vacancies-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='analytics__container-wrapper'>
    <div class='analytics__container'>
      <div class='analytics__container-title'>
        {{"ANALYTICS.DIAGRAM" | translate}}
      </div>
      <div class='analytics__container-content analytics__container-content_diagram' echarts
           [options]="analyticsData.analyticsChartOptions">
      </div>
    </div>
    <div class='analytics__container'>
      <div class='analytics__container-title'>
        {{"ANALYTICS.PERCENTAGE.TITLE" | translate}}
      </div>
      <div class='analytics__container-content analytics__container-content_percent'>
        <div class='analytics__container-element' *ngFor='let element of analyticsData.vacancyStatisticList'>
          <div class='analytics__container-element-image'>
            <img src='../../../assets/img/icon/star-circle.svg' alt='icon'>
          </div>
          <div class='analytics__container-element-description'>
            <div class='analytics__container-element-title'>
              {{element.name | translate}}
            </div>
            <div class='analytics__container-element-percent'>
              {{countPercent(element.value, analyticsData.totalCandidates)}} %
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='analytics__container'>
      <div class='analytics__container-title'>
        {{"ANALYTICS.ALL.RESULT" | translate}}
      </div>
      <div class='analytics__container-content analytics__container-content_all'>
        <div class='analytics__container-content-header'>
          <div class='analytics__container-content-header-title'>
            {{"ANALYTICS.ALL.CANDIDATES" | translate}}
          </div>
          <div class='analytics__container-content-header-count'>
            {{analyticsData.totalCandidates}}
          </div>
        </div>
        <div class='analytics__container-list' *ngFor='let element of analyticsData.vacancyStatisticList'>
          <div class='analytics__container-list-color'></div>
          <div class='analytics__container-list-description'>
            <div class='analytics__container-list-title'>
              {{element.name | translate}}
            </div>
            <div class='analytics__container-list-count'>
              {{element.value}}  {{"ANALYTICS.ALL.CANDIDATE" | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #emptyContentTmpl>
  <hr-empty-content></hr-empty-content>
</ng-template>

<hr-loader *ngIf="!!(isLoader$ | async)"></hr-loader>

<ng-container *ngIf="isChooseModalOpen | async as isOpen">
  <hr-buy-tariff-modal [isOpen]="isOpen" (checkIsRobot)="checkIsRobot()"></hr-buy-tariff-modal>
</ng-container>
