@import 'src/assets/variables/variables';

.balance {
  &__card-wrapper {
    background: $white;
    border: 1px solid #E2E8F0;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    padding: 27px;

    @media screen and (max-width: 450px) {
      font-size: 13px;
      padding: 27px 10px;
    }
  }
}