@import "src/assets/variables/variables";
@import "src/assets/mixins/input/input-mixins";

.popup {
  &_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 14px;
      line-height: 20px;
      .gray_text {
        color: $medium-dark-gray;
      }
    }

    &--accept {
      max-height: calc(80vh - 200px);
      overflow-y: auto;

      @media screen and (min-width: 800px) and (max-width: 1300px) {
        width: 60%;
      }

      @media screen and (min-width: 600px) and (max-width: 800px) {
        width: 80%;
      }

      @media screen and (min-width: 320px) and (max-width: 600px) {
        width: 100%;
        border-radius: 0;
        max-height: calc(100vh - 200px);
      }
    }

    &--info {
      display: block;
      color: $red;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 10px;

      &:before{
        content: "*";
        color: $red;
        font-size: $text-xs;
      }
    }

    :first-child,
    :last-child {
      width: 100%;
    }

    &--mb_30px {
      margin-bottom: 30px;
    }

    input {
      border: none;
      outline: none;
      border-bottom: 1px solid black;
      max-width: 150px;
      margin: 0 5px;
      font-size: 14px;
    }
  }

  &_open {
    transform: translate(-50%, -50%) scale(1);
  }

  > svg {
    cursor: pointer;
    position: absolute;
    right: 38px;
    top: 30px;
  }

  &_title {
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #08A652;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &_info {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    opacity: 0.7;

    &-item {
      margin-bottom: 18px;
    }

    &_textarea {
      width: 100%;
      max-width: 100%;
      border: 1px solid $green;
      outline: none;
      box-shadow: none;
      font-size: 14px;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 8px;

      &--disabled {
        border: 1px solid $gray;
      }
    }
  }

  &_img {
    img {
      display: block;
      width: 100%;
      height: 100%;
      margin-top: 31px;
    }

    &_mobile {
      display: none;
    }
  }

  &_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;

    div {
      border-radius: 8px;
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
      padding: 14px 31px;
      cursor: pointer;

      @media screen and (max-width: 600px) {
        font-size: 12px;
        padding: 14px 20px;
      }

      &:hover {
        box-shadow: 0 4px 25px rgb(0 0 0 / 15%);
      }

      &:first-child {
        background: #FFFFFF;
        border: 1px solid #08A652;
        text-align: center;
        color: #08A652;
        &.disabled {
          background: #C4C4C4;
          border: 1px solid #ccd0db;
          color: white;
          cursor: default;
        }
      }

      &:last-child {
        background: #08A652;
        text-align: center;
        color: #FFFFFF;
        margin-left: 10px;
        &.disabled {
          background: #C4C4C4;
          border: 1px solid #ccd0db;
          color: white;
        }
      }
    }

  }

  &_chat-info {
    display: flex;
    flex-direction: column;
  }

  &_chat-item {
    display: flex;
    align-items: center;
    margin-top: 44px;

    > svg {
      margin-right: 21px;
      min-width: 47px;
      min-height: 48px;
    }

    h3 {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #08A652;
      margin-bottom: 10px;
    }

    p {
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: #000000;
      opacity: 0.7;
    }
  }

  @media screen and (max-width: 600px) {
    padding: 66px 40px 58px;
    min-width: 350px;

    .popup_img_mobile {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      img {
        display: block;
      }
    }

    .popup_img img {
      display: none;
    }
  }

  @media screen and (max-width: 400px) {
    padding: 60px 30px;
    min-width: 280px;
    box-sizing: border-box;
    & > svg {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 30px;
    }
  }
}

:host::ng-deep .checkbox {
  margin-bottom: 10px;

  &__label-text {
    font-size: 14px !important;
  }
}

:host::ng-deep .checkbox__custom-input {
    border: 1px solid $green !important;
    width: 24px !important;
    height: 24px !important;
    border-radius: 5px !important;

    svg {
      width: 10px !important;
      height: 10px !important;
    }
  }

:host::ng-deep  .button-wrapper__button {
  height: 36px !important;
  font-size: 12px !important;
  line-height: 16px !important;
}

.input {
  &_valid {
    border-bottom: 1px solid $green !important;
    background: $light-green;
  }

  &_invalid {
    border-bottom: 1px solid $red !important;
    background: $light-red;
  }
}
