<div class='chat-notification-item'
     *ngIf="hasNotificationCount > 0 && notificationItem; else doesNotHaveNotification"
     (click)="openNotificationChat(notificationItem.uuid, notificationItem.senderUuid)"
     [ngClass]='{"chat-notification-item--unread": !notificationItem.status }'>
  <div class='notification-item-status'></div>
  <div class='notification-item-logo'> <img [src]="notificationItem.info.image"></div>
  <div class='notification-item-description-content'>
    <div class='notification-item-description'>
      <p><b>{{notificationItem.info.name}}</b></p>
      <p class="notification-item-description--truncate"> {{notificationItem.message}} </p>
    </div>
    <div class='notification-item-date'>
      <p> {{notificationItem.createdAt | dateDifference: end }} </p>
    </div>
  </div>
</div>
<ng-template #doesNotHaveNotification>
  <hr-empty-content></hr-empty-content>
  <!--  <span class="empty-notification">Нет уведомлений </span>-->
</ng-template>
