@import "src/app/modules/header/notifications/notifications.scss";

.chat-notification-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid $gray;
  &:hover {
    background-color: $light-gray;
  }

  &--unread {
    background-color: rgba(8, 166, 82, 0.04);
    .notification-item-status {
      visibility: visible;
    }
  }

  .notification-item-description {
    &--truncate {
      width:200px;

      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }
  }
}

.empty-notification {
  position: absolute;
  top: 50%;
  right: 32%;
  font-size: 18px;
  color: green;
}
