<section class='analytics'>
  <div class='analytics__title'>
      <p> {{"SPECIALIST_PROFILE.ANALYTICS.TITLE" | translate}} </p>
  </div>
  <div class='analytics__container-wrapper'>
    <div class='analytics__container'>
      <div class='analytics__container-title'>
        {{"SPECIALIST_PROFILE.ANALYTICS.DIAGRAM" | translate}}
      </div>
      <div class='analytics__container-content analytics__container-content_diagram' echarts [options]="option">
      </div>
    </div>
    <div class='analytics__container'>
      <div class='analytics__container-title'>
        {{"SPECIALIST_PROFILE.ANALYTICS.RESULT" | translate}}
      </div>
      <div class='analytics__container-content analytics__container-content_all'>
        <div class='analytics__container-content-header'>
        </div>
        <div class='analytics__container-list' *ngFor='let tests of (passedTestsPercentages.value | keyvalue)'>
          <div class="analytics__container-list">
            <div class='analytics__container-list-color'></div>
            <div class='analytics__container-list-description'>
              <div class='analytics__container-list-title'>
                {{AnalyticsEnum[tests.key]}}
              </div>
              <div class='analytics__container-list-count'>
                {{tests?.value?.testsCount}} {{"SPECIALIST_PROFILE.ANALYTICS.TESTS" | translate}}
              </div>
            </div>
          </div>
          <div class='analytics__container-list-arrow' (click)="openTestsList(tests.key)">
            <img src="assets/img/icon/arrow.svg" alt="arrow">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


