<section class='add-vacancy-description'>
  <section class='add-vacancy-description__wrapper'>
    <div class='add-vacancy-description__title'>{{"VACANCY.SEARCH_SPECIALIST.TITLE.STEP_2" | translate}}</div>
    <hr-progress-bar-for-steps
      [edit]='true'
      [form-group]='vacancyFormGroup'
      [updateProgressBar]='updateProgressBar | async'
    ></hr-progress-bar-for-steps>
    <div class='add-vacancy-description__accordion'>
      <hr-accordion-group>
        <hr-accordion
          [head-text]='"VACANCY.SEARCH_SPECIALIST.ACCORDION.TITLE" | translate' [vacancyUuId]='vacancyUuId'
        >
          <hr-create-vacancy-filter [edit]='true'></hr-create-vacancy-filter>
        </hr-accordion>
      </hr-accordion-group>
    </div>
    <div class='add-vacancy-description__vacancy-name'>
      <hr-input
        [label-text]='"VACANCY.SEARCH_SPECIALIST.FILTER.NAME" | translate'
        [placeholder-text]="''"
        [feedback-text]="''"
        [formControl]='vacancyCompanyNameControl'
        [valid]='vacancyCompanyNameControl.touched ? vacancyCompanyNameControl.valid : undefined'
      >
      </hr-input>
    </div>
    <div class='add-vacancy-description__monthly-income'>
      <p class="add-vacancy-description__monthly-income--label">
        {{"VACANCY.SEARCH_SPECIALIST.FILTER.MONTH_INCOME" | translate}}
      </p>
      <div class='add-vacancy-description__monthly-income--block'>
        <div class='add-vacancy-description__monthly-income--block-item salaryCount'>
          <hr-input
            [placeholder-text]="'от'"
            [currency-input]="true"
            [valid]="vacancySalaryIncomeControl.touched ? vacancySalaryIncomeControl.valid : undefined"
            [formControl]='vacancySalaryIncomeControl'>
          </hr-input>
        </div>
        <div class='add-vacancy-description__monthly-income--block-item salary'>
          <hr-search-select
            [isSearch]="false"
            [options]="salary"
            [formControl]='vacancyCurrencyIncomeControl'
            [valid]="vacancyCurrencyIncomeControl.touched ? vacancyCurrencyIncomeControl.valid : undefined"
          >
          </hr-search-select>
        </div>
      </div>

    </div>
    <div class='add-vacancy-description__completion-date'>
      <div class='add-vacancy-description__editor-description-label'>
        {{"VACANCY.SEARCH_SPECIALIST.FILTER.COMPLETION_DATE" | translate}} (от 7 до 70 дней)
      </div>

      <div class='datepicker filter__date-label'>
        <hr-input
          [input-type]="'number'"
          [formControl]='vacancyCompletionDateControl'
          [valid]="
              vacancyCompletionDateControl.touched
                ? vacancyCompletionDateControl.valid
                : undefined
            "
          [feedback-text]="
              vacancyCompletionDateControl.touched
                ? vacancyFormGroup.getError('deadlineDate')
                : ''
            "
          [error-status]="
              !!vacancyFormGroup.getError('deadlineDate')
                ? inputStatusList.invalid
                : inputStatusList.valid
            "
        >
        </hr-input>
      </div>

    </div>
    <div class='add-vacancy-description__editor-description'>
      <div class='add-vacancy-description__editor-description-label'>
        {{"VACANCY.SEARCH_SPECIALIST.FILTER.COMPANY_DESCRIPTION" | translate}}
      </div>
      <ckeditor
        [editor]='Editor'
        [config]='editorConfig'
        (ready)='onReady($event)'
        [formControl]='vacancyDescriptionControl'
        [class.ck-content_invalid]='vacancyDescriptionControl.invalid && vacancyDescriptionControl.touched'
        [class.ck-content_valid]='vacancyDescriptionControl.valid && vacancyDescriptionControl.touched'
      ></ckeditor>
    </div>
    <div class='add-vacancy-description__editor-duties'>
      <div class='add-vacancy-description__editor-duties-label'>
        {{"VACANCY.SEARCH_SPECIALIST.FILTER.RESPONSIBILITIES" | translate}}
      </div>
      <ckeditor
        [editor]='Editor'
        [config]='editorConfig'
        (ready)='onReady($event)'
        [formControl]='vacancyDutiesControl'
        [class.ck-content_invalid]='vacancyDutiesControl.invalid && vacancyDutiesControl.touched'
        [class.ck-content_valid]='vacancyDutiesControl.valid && vacancyDutiesControl.touched'
      ></ckeditor>
    </div>
    <div class='add-vacancy-description__editor-conditions'>
      <div class='add-vacancy-description__editor-conditions-label'>
        {{"VACANCY.SEARCH_SPECIALIST.FILTER.TERMS" | translate}}
      </div>
      <ckeditor
        [editor]='Editor'
        [config]='editorConfig'
        (ready)='onReady($event)'
        [formControl]='vacancyConditionsControl'
        [class.ck-content_invalid]='vacancyConditionsControl.invalid && vacancyConditionsControl.touched'
        [class.ck-content_valid]='vacancyConditionsControl.valid && vacancyConditionsControl.touched'
      ></ckeditor>
    </div>

    <div class="add-vacancy-description__editor-conditions">
      <div class="add-vacancy-description__editor-conditions--title" >
        <div class="add-vacancy-description__editor-conditions-label not-required">
          {{ "VACANCY.SEARCH_SPECIALIST.FILTER.QUESTIONS" | translate }}
        </div>
        <div class="add-vacancy-description__editor-conditions--download" (click)="downloadPdf()">
          <p>{{"VACANCY.SEARCH_SPECIALIST.FILTER.DOWNLOAD_QUESTIONS" | translate}}</p>
        </div>
      </div>

      <ng-container *ngFor="let input of questionsFields; let k = index">
        <div class="questions">
          <fieldset class="textarea-wrapper">
            <legend class="question-number">
              <div class="question-number-circule">{{ k + 1 }}</div>
            </legend>
            <textarea #myTextarea class="question" (input)="autoResize(myTextarea)"
                      [(ngModel)]="questionsFields[k].question"></textarea>
            <div [hidden]="questionsFields.length <= 1" (click)="removeInputField(k)" class="remove-question">
              <img src="assets/img/icon/delete.png" alt="delete"/>
            </div>
          </fieldset>
        </div>
      </ng-container>
      <div class="add-question_block">
        <button (click)="addInputField()" class="add-question"
                [ngClass]="{'add-question--disabled': isAddQuestionDisable}"> +
        </button>
      </div>
    </div>

    <div class='add-vacancy-description__button'>
      <hr-button
        [disabled]='vacancyFormGroup.invalid'
        [text]='vacancyUuId ? ("ACTIONS.REFRESH" | translate) : ("ACTIONS.ADD" | translate)'
        (clickEvent)='onFormSubmit(vacancyFormGroup)'
      ></hr-button>
    </div>
  </section>

</section>

