<section class="vacancy" #jobVacancies *ngIf="vacancies"
         [ngClass]="(isRobotHelper | async) ? 'content_under_robot-bg' : 'content_on_robot-bg'"
>
  <section class="vacancy__wrapper">
    <hr-go-back></hr-go-back>
    <div class="vacancy__info">
      <div class="vacancy__title">
        <h1> {{vacancies[0].name}}</h1>
      </div>
      <div class="vacancy__description">
        <p>
          <b> Создана в: </b> {{getCreatedDate(vacancies[0].createdAt)}}
        </p>
        <div class="vacancy__description--progress">
          <b> До завершения: </b>
          <hr-progress-bar
            [text]='progress(vacancies[0])'
            [value]='getProgressPercent(vacancies[0])'
            [max-value]='100'
            progress-bar-color='#08A652'
            [value-direction-top]='true'
            [type-props]='ProgressBarEnum.small'
          ></hr-progress-bar>
        </div>

      </div>
    </div>
    <div>
      <hr-job-description
        [jobInfo]="vacancies[0]"
      >
      </hr-job-description>
    </div>
  </section>

  <section class="vacancy__wrapper--skills">
    <hr-job-skills
      [jobSkills]="vacancies[0]?.searchedSettings"
    >
    </hr-job-skills>
  </section>
</section>
