<hr-loader *ngIf="isLoader$.value"></hr-loader>

<ng-container *ngLet="specialistList$ | async as specialistList">
  <section class="specialists">
    <hr-go-back></hr-go-back>
    <div class="parent specialists-user">
      <div class="child specialists-user__info">
        <div class="specialists-user__info-img">
          <img [src]="specialistList?.image_blured ? specialistList?.image_blured
             : 'assets/img/avatar/list-man-avatar.svg'" alt="specialist">
        </div>
        <div>
          <p class="info"> {{ specialistList?.name }} </p>
          <p class="info__position"> {{ specialistList?.position }} </p>
        </div>
        <div class="specialists-user__add-to-favorites" (click)="updateFavorites()">
          <img *ngIf="!isFavorite" src="assets/img/icon/heart-1.svg" alt="heart">
          <img *ngIf="isFavorite" src="assets/img/icon/heart-2.svg" alt="heart">
        </div>
      </div>
    </div>
  </section>

  <section class="specialists specialists-personal">
    <div class="specialists-personal__info">
      <div class="child">
        <span class="specialists-personal__info-title">
          {{"SPECIALIST_PROFILE.TITLE" | translate}}
        </span>
      </div>
      <div class="child specialists-personal__info-item">
        <p><span class="info">{{"SPECIALIST_PROFILE.FULL_NAME" | translate}}</span>
          <span class="description"> {{ specialistList?.name }} {{specialistList?.surname}}</span></p>
        <p><span class="info">{{"SPECIALIST_PROFILE.PHONE" | translate}} </span> <span
          class="description"> {{ specialistList?.phone }} </span></p>
        <p><span class="info">{{"SPECIALIST_PROFILE.EMAIL" | translate}} </span> <span
          class="description"> {{ specialistList?.email}} </span></p>
        <p><span class="info">{{"SPECIALIST_PROFILE.ADDRESS" | translate}} </span> <span
          class="description"> {{ specialistList?.country }} {{ specialistList?.city }} </span></p>
      </div>
    </div>

    <div class="child specialists-personal__social-button" *ngIf="isChatBtn$.value">
      <hr-button
        (click)="startChat(specialistList)"
        [text]='startChatText$.value'
        [type]='buttonType.gradient'
      ></hr-button>
    </div>
  </section>

  <section>
    <hr-analytics></hr-analytics>
  </section>

  <div>
    <hr-confirmation-modals
      [isFirstChat]="!!isFirstChat$.value"
      (startChat)="inviteSpecialistInChatAction()"
    ></hr-confirmation-modals>
  </div>

</ng-container>


