<div class='user-card'>
  <div class='user-card__profession'>
    <ngx-skeleton-loader
      [theme]="{
          width: 'calc(50%)',
          'border-radius': '8px',
          height: '25px',
          'margin-bottom': '10px'
        }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
          width: 'calc(50% - 20px)',
          'border-radius': '8px',
          height: '25px',
          'margin-bottom': '10px',
          'margin-left': '20px'
        }"
    ></ngx-skeleton-loader>
  </div>
  <div class='user-card__post'>
    <ngx-skeleton-loader
      [theme]="{
          width: '100%',
          'border-radius': '8px',
          height: '20px',
          'margin-bottom': '10px'
        }"
    ></ngx-skeleton-loader>
  </div>
  <div class='user-card__test-wrapper'>
    <div class='user-card__test-title'>Психологический тест</div>
    <ngx-skeleton-loader
      [theme]="{
          width: '80%',
          'border-radius': '8px',
          height: '15px',
          'margin-bottom': '10px'
        }"
    ></ngx-skeleton-loader>
  </div>
  <div class='user-card__test-wrapper'>
    <div class='user-card__test-title'>Профессиональный тест</div>
    <ngx-skeleton-loader
      [theme]="{
          width: '80%',
          'border-radius': '8px',
          height: '15px',
          'margin-bottom': '10px'
        }"
    ></ngx-skeleton-loader>
  </div>
  <div class='user-card__test-wrapper'>
    <div class='user-card__test-title'>Собеседование</div>
    <ngx-skeleton-loader
      [theme]="{
          width: '80%',
          'border-radius': '8px',
          height: '15px',
          'margin-bottom': '10px'
        }"
    ></ngx-skeleton-loader>
  </div>
</div>
