@import 'src/assets/variables/variables';

.job-description {

  &__wrapper {
    margin-bottom: 45px;
  }

  &__title {
    font-style: normal;
    font-weight: $font-medium;
    font-size: 16px;
    line-height: 20px;
    color: #2D3748;
  }

  &__description {
    margin-top: 15px;
    max-width: 500px;
    word-break: break-all;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #555B66;
  }

}
